[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
tqdm = "*"
opencv-python = "*"
enum34 = "*"
strenum = "*"
sklearn = "*"
openpyxl = "*"
prettytable = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
